<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8"/>
    <title>登入成功</title>

    <style>
        .box{
            color:white; font-size: 60px; background-color: darkblue; 
            text-align: center;margin: 0px; padding: 0px; 
            height: 300px; line-height: 300px;
        }

        .content{
            margin: auto;padding: 20px;text-align: center;
        }
        .btn{
        text-align: center; margin: auto ;padding: 8px;
        display: block;
    }
    </style>
</head>
<body>

    <div class = "box"> 失敗頁面</div>
    <div class = "content">帳號、或密碼輸入錯誤</div>
    <form method="get" action="/signout" class = "">
        <button type="submit" class="btn">返回首頁</button>
    </form>


</body>

</html>