<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8"/>
    <title>登入成功</title>

    <style>
        .box{
            color:white; font-size: 60px; background-color: darkblue; 
            text-align: center;margin: 0px; padding: 0px; 
            height: 300px; line-height: 300px;
        }

        .content{
            margin: auto;padding: 20px;text-align: center;
        }

        .btn{
        text-align: center; margin: auto ;padding: 8px;
        display: block;
    }
    </style>
</head>
<body>
    <form action = "/member" >

    <div class = "box"> 歡迎光臨，這是會員頁</div>
    <div class = "content">恭喜您，成功登入系統。</div>
    </form>
    <form method="get" action="/signout" class = "">
        <button type="submit" class="btn">登出系統</button>
    </form>
    
</body>

</html>