<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8"/>
    <title>我的首頁</title>
</head>

<style>
     .box{
            color:white; font-size: 60px; background-color: darkblue; 
            text-align: center;margin: 0px; padding: 0px; 
            height: 300px; line-height: 300px;
        }

    .form{
        text-align: center; margin: 8px;padding: 8px;
    }


</style>


<body>
    <div class = "box"> 歡迎光臨，請輸入帳號密碼。</div>
    <form action = "/signin" class = "form"  method ="POST">
        帳號<input type = "text" class = "form" name = "account"/ >
        </br>
        密碼<input type = "text" class = "form" name = "password"/ >
        <br/>
        <button class = "form">登入</button>
    </form>

    
   


</body>



</html>